/*sass file _buttons*/
.btn-primary{
    background-color: $primary;
    border-color: lighten($primary, 10%);
    &:hover,
    &:active{
      background-color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
    &[disabled]{
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
    }
}
